<link rel="stylesheet" href="static/css/partials/footer.css">
<footer id="footer" class="text-white text-center text-lg-start">
    <div class="container text-center text-md-left">
        <div class="row">
            <div class="col-md-4 mx-auto">
                <h1 style="margin: 0;">Disorder</h1>
                <!-- <img class="img-fluid mb-4" src="https://www.sfait.net/img/secure-payment-sfait.png" alt=""> - mb-4 à enlever de la section au dessus si ajouter. -->
            </div>
            <hr class="clearfix w-100 d-md-none">
            <div class="col-md-2 mx-auto">
                <ul class="list-unstyled">
                    <li><a href="#">Accueil</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Contact</a>
                </ul>
            </div>
        </div>
    </div>
</footer>