<link rel="stylesheet" href="static/css/partials/footer.css">
<footer id="footer" class="text-white text-center mt-auto">
    <div class="row" style="margin: 0;">
        <div class="col-md-4 mx-auto">
            <a href="/"><h1>Disorder</h1></a>
        </div>
        <div class="col-md-2 mx-auto">
            <ul class="list-unstyled">
                <li><a href="/">Accueil</a></li>
                <li><a href="news">Actualités</a></li>
                <li><a href="speedrun">Speedrun</a>
                <li><a href="esports">Esports</a>
                <li id="githubfooter"><a href="https://github.com/RastaRocket78160/SNT-site-web" target="_blank">Github</a>
            </ul>
        </div>
    </div>
</footer>