<link rel="stylesheet" href="static/css/partials/navbar.css">
<nav id="navbar" class="navbar sticky-top navbar-expand-lg navbar-dark">
    <div class="container">
        <a class="navbar-brand" href="#">Disorder</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" style="margin: auto">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav" style="flex-grow: 0;">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link navbar-text-sfait" href="/">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link navbar-text-sfait" href="news">Actualités</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link navbar-text-sfait" href="speedrun">Speedrun</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link navbar-text-sfait" href="esports">Esports</a>
                </li>
            </ul>
        </div>
    </div>
</nav>