<%-include("../base"); -%>
<link rel="stylesheet" href="static/css/pages/speedrun.css">
<%-include("../partials/navbar"); -%>
<div class="container">
    <h2>Speedrun en 4 minute de Laupok</h2>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/b0xhd4oBixQ" title="YouTube video player"
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    <h3>Qu'est ce que c'est ?</h3>
    <p>Le speedrun est une pratique du jeu vidéo ou le but est d’atteindre le plus vite possible un objectif donné.
        L’objectif le plus connu est le Any % qui a pour but de finir le jeu le plus rapidement possible de n’importe
        quelle façon. Il y a en réalité un nombre d'objectifs définis en fonction du jeu. Il y a aussi plusieurs façon
        d'effectuer ces objectifs par exemple le plus connu est le simple-segment qui est le fait de faire le speedrun
        en 1 seul fois sans pause mais il y a aussi le multi-segment qui est le fait de le faire en plusieurs fois
        (souvent utiliser pour les très long speedrun). Il y a aussi le tool assisted speedrun qui est en fait effectué
        par un robot programmé par le joueur. Le tool assisted speedrun n'est pas forcément fait pour faire des records
        mais c’est plutôt un exemple pour les joueurs ou juste un spectacle pour certains passionnés.</p>
    <h4>actualité du speedrun</h4>
    <p>Actuellement un des speedrun énormément effectué par les joueurs est celui de Minecraft en Any % en random seed.
        C’est un speedrun énormément basé sur la chance car il faut générer un monde aléatoirement puis ensuite pour
        obtenir certains objets nécessaires au speedrun il faut avoir un peu de chance car il n’ont que 5% de chance
        d'apparaître. Or ce speedrun malgré une forte RNG (chance) il est beaucoup pratiqué car il est au final assez
        facile à effectuer étant donné qu’il n’y a pas de bug à effectuer. </p>
</div>
<%-include("../partials/footer"); -%>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous">
</script>
</body>

</html>