#footer {
    background-color: #191919;
    box-shadow: 3px 4px 18px 3px rgb(0 0 0 / 50%);
    padding-top: 2rem;
    /*bottom: 0;
    width: 100%;
    position: absolute;
    overflow: hidden;*/
}

#footer a {
    color: #e3e0e0;
    transition: ease-in-out;
    transition-duration: .3s;
    text-decoration: none;
}

#footer a:hover {
    color: #E10000;
}